<div class="container-fluid">
  <article class="container-fluid col-sm-12 col-12 mx-auto card mb-3 bg-dark">

    <h3 class="h3-titulos pt-4 ps-4 display-6 text-left  mb-3">Proyectos</h3>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{{miPortfolio.proLinkUno}}" target="_blank">
        <img src="{{miPortfolio.proImgUno}}" class="img-carrousel" alt="...">
        </a>
        <div class="carousel-caption d-block p-0 mt-5 ">
          <h5 class="d-none d-sm-block">{{miPortfolio.proNombreUno}}</h5>
          <p class="p-0 mb-0 d-none d-sm-block ">Fecha de finalización:{{miPortfolio.proFechaUno}}</p>
          <p class="mb-sm-5 ">{{miPortfolio.proyectoDescripcionUno}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{{miPortfolio.proLinkDos}}" target="_blank">
          <img src="{{miPortfolio.proImgDos}}"class="img-carrousel" alt="...">
        </a>
        <div class="carousel-caption  d-block p-0 mt-5 ">
          <h5 class="d-none d-sm-block">{{miPortfolio.proNombreDos}}</h5>
          <p class="p-0 mb-0 d-none d-sm-block">Fecha de finalización:{{miPortfolio.proFechaDos}}</p>
          <p class="mb-sm-5">{{miPortfolio.proyectoDescripcionDos}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{{miPortfolio.proLinkTres}}" target="_blank">
        <img src="{{miPortfolio.proImgTres}}" class="img-carrousel" alt="...">
      </a>
        <div class="carousel-caption d-block  p-0 mt-5">
          <h5 class="d-none d-sm-block" >{{miPortfolio.proNombreTres}}</h5>
          <p class="p-0 mb-0 d-none d-sm-block"> Fecha de finalización:{{miPortfolio.proFechaTres}}</p>
            <p class="mb-sm-5">{{miPortfolio.proyectoDescripcionTres}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>

  </div>

       <!-- Inicio boton editar Proyectos--> 
       <span *ngIf="botonEditImg==true else mostrar4"></span>
       <ng-template #mostrar4 class="hover__boton">
       <div class="text-center"> 
         <a class=" btn btn-outline-light  hover__boton"  role="button" data-bs-target="#ProyectosModal" data-bs-toggle="modal" ><i class="fa-solid fa-pencil" ></i></a>
       </div>
       </ng-template>
       <!-- final boton editar Proyectos--> 
</article>
</div>


 <div class="modal fade" id="ProyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Proyectos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="form-control">
        <p>Cambio de imagen del Primer Proyecto</p>
    <input class="div-acercaDe mt-2 ms-2 rounded" type="file" alife-file-to-base64 (onFileChanged)="CambioImgUno($event)"  accept=".png, .jpg, .jpeg" >
  
      <p *ngIf="noTieneContenidoUno" class="text-danger" >{{mensajeDeErrorUno}}</p> 
      <p class="text-success">{{mensajeDeEnvioUno}}</p>
      <button type="button" class="btn btn-success" (click)="editarImgProUno()">Enviar Imagen</button>

      <p class="mt-2">Cambio de datos del Primer Proyecto</p>
      <p > Titulo de Primer Proyecto<input class="form-control" type="text" [(ngModel)]="editarProyectos.proNombreUno" >Fecha de Primer Proyecto <input class="form-control" type="text" [(ngModel)]="editarProyectos.proFechaUno" >Descripcion de Primer Proyecto <textarea class="form-control" rows="4" [(ngModel)]="editarProyectos.proyectoDescripcionUno" ></textarea>Link de Primer Proyecto <input class="form-control" type="text" [(ngModel)]="editarProyectos.proLinkUno"></p>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editarProUno()">Enviar Datos</button>
        <button type="button" class="btn btn-danger" (click)="eliminarProUno()">Borrar Datos</button>
      </div>

    </div>




    <div class=" form-control mt-3">
    <p>Cambio de imagen del Segundo Proyecto</p>
      <input class="div-acercaDe mt-2 ms-2 rounded" type="file" alife-file-to-base64 (onFileChanged)="CambioImgDos($event)"  accept=".png, .jpg, .jpeg" >
   
        <p *ngIf="noTieneContenidoDos" class="text-danger" >{{mensajeDeErrorDos}}</p> 
        <p class="text-success">{{mensajeDeEnvioDos}}</p>
        <button type="button" class="btn btn-success" (click)="editarImgProDos()">Enviar Imagen</button>
        
        <p class="mt-2">Cambio de datos del Segundo Proyecto</p>
        <p > Titulo de Segundo Proyecto<input class="form-control" type="text" [(ngModel)]="editarProyectos.proNombreDos" >Fecha de Segundo Proyecto <input class="form-control" type="text" [(ngModel)]="editarProyectos.proFechaDos" >Descripcion de Segundo Proyecto <textarea class="form-control" rows="4" [(ngModel)]="editarProyectos.proyectoDescripcionDos" ></textarea>Link de Segundo Proyecto <input class="form-control" type="text" [(ngModel)]="editarProyectos.proLinkDos"></p>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="editarProDos()">Enviar Datos</button>
          <button type="button" class="btn btn-danger" (click)="eliminarProDos()">Borrar Datos</button>
        </div>

      </div>


      <div class="form-control mt-3">
      <p>Cambio de imagen del Tercer Proyecto</p>
      <input class="div-acercaDe mt-2 ms-2 rounded" type="file" alife-file-to-base64 (onFileChanged)="CambioImgTres($event)"  accept=".png, .jpg, .jpeg">
        
        <p *ngIf="noTieneContenidoTres" class="text-danger" >{{mensajeDeErrorTres}}</p> 
        <p class="text-success">{{mensajeDeEnvioTres}}</p>
        <button type="button" class="btn btn-success" (click)="editarImgProTres()">Enviar Imagen</button>

        <p class="mt-2">Cambio de datos del Tercer Proyecto</p>
        <p > Titulo de Tercer Proyecto<input class="form-control" type="text" [(ngModel)]="editarProyectos.proNombreTres" >Fecha de Tercer Proyecto <input class="form-control" type="text" [(ngModel)]="editarProyectos.proFechaTres" >Descripcion de Tercer Proyecto <textarea class="form-control" rows="4" [(ngModel)]="editarProyectos.proyectoDescripcionTres" ></textarea>Link de Tercer Proyecto <input class="form-control" type="text" [(ngModel)]="editarProyectos.proLinkTres"></p>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="editarProTres()">Enviar Datos</button>
          <button type="button" class="btn btn-danger" (click)="eliminarProTres()">Borrar Datos</button>
        </div>
      </div>
 
