.img-carrousel{
    display: block;
    width: 70%;
    margin: 0px auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    padding: 60px;
    border-radius: 5%;
}
.carousel-control-next-icon:hover{
    background-color: rgb(2, 247, 137);
}
.carousel-control-prev-icon:hover{
    background-color: rgb(2, 247, 137);
}
@media screen and (max-width: 600px) {
    .carousel-control-next-icon,
.carousel-control-prev-icon{
    padding: 20px;
}
}

.carousel-indicators button{
    background-color: rgb(0, 183, 101);
    height: 15px;
    border-radius: 12px;

}
@media screen and (max-width: 600px) {
    .carousel-indicators{
    display: none;
}
}

.carousel-indicators button:hover{
    background-color: #00ffb7;
}

.hover__boton{
    margin-left:1%;  
    height: 40px;
    width: 40px;
    color: black;
    background-color:rgb(2, 247, 137);
  }
   .hover__boton:hover{
    background-color:#005afc;
    color: rgb(255, 255, 255);
    font-size: 22px; 
 }

 .agregar__boton{
    line-height: 170%;
    height: 40px;
    width: 40px;
    color: black;
    background-color:rgb(2, 247, 137);
}
  .agregar__boton:hover{
  background-color:#005afc;
  font-size: 20px;
  color: white;
}
    


    @media screen and (min-width :767px ) {
        
        img {
            width: 100% ;
           height: 250px ;
       max-width: 300px ;
       max-height: 250px ;
       object-fit: cover ;
    }
    }

   @media screen and (max-width :767px ) {
        img {
            width: 100% ;
    } 
     } 
    


