<nav class="inline-container main-nav"> 
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div *ngIf="oculto" class="pequecontenedor col">
                <input type="text" 
                placeholder="User" formControlName="nombreUsuario" class="form-control" id="usuario">
                <div *ngIf="User?.errors && User?.touched">
                <p *ngIf="User?.hasError('required')" class="text-danger texto-errorUser">
                    El usuario es requerido.
                </p>
                <p *ngIf="User?.errors?.['minlength']" class="text-danger texto-errorUser">
                    Ingresa más de 8 caracteres.
                </p>
                </div> 
        <input type="password" placeholder="contraseña"  formControlName="password" class="form-control" id="password">
        <div *ngIf="Password?.errors && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger texto-errorContraseña">
               La contraseña es requerida.
            </p>
            <p *ngIf="Password?.errors?.['minlength']" class="text-danger texto-errorContraseña">
                Ingresa más de 8 caracteres.
            </p>
            </div> 
        <button type="submit" class="userboton">Ingresar</button>
    </div>
</form >

    <ul id="main-menu" class="main-menu ">
        <div class="izquierda">
            <a class="a-Arg"
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa " target="_blank">
            <img class="img-Arg" src="assets/img/ArgPrograma.png" alt="arg" />
            </a>
        </div>

        <li class="main-menu__item">
            <a href="#" class="main-menu__link fa-brands fa-twitter"></a>
        </li>
        <li class="main-menu__item">
            <a href="#" class="main-menu__link fa-brands fa-linkedin"></a>
        </li>
        <li class="main-menu__item">
            <a href="#" class="main-menu__link fa-brands fa-instagram"></a>
        </li>
        
        <li class="main-menu__item">
            <a href="#" class="main-menu__link fa-brands fa-github"></a>
        </li>

        <span *ngIf="ocultarLog == false else mostrar3 "></span>
        <ng-template #mostrar3>
            <li class="main-menu__item">
                <a id="enviar" class="main-menu__link fa-solid fa-user" type="submit" (click)="mostrar()"></a>
            </li>
        </ng-template>

        <span *ngIf="mostrarCierre == true else mostrar4 "></span>
        <ng-template #mostrar4>
        <li class="main-menu__item">
            <a id="enviar" class="main-menu__link  fa-solid fa-arrow-right-from-bracket" type="submit" (click)="offSesion($event)"></a>
        </li>
        </ng-template>
        </ul>
    
</nav>
<div class="img-Div">
<div class="img1"></div>
</div>








