.ul__Icons {
  justify-content: end;
  margin-right: 5%;
}

.main-menu__link {
  margin-top: 60%;
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
}

.main-menu__link:hover {
  color: rgb(2, 247, 137);
}

/* LOGO ARGENTINA PROGRAMA Y SUS HOVER CON FILTROS PARA EL CAMBIO DE COLOR*/
.img-Arg {
  position: absolute;
  width: 174px;
}

.img-Arg:hover {
  -webkit-filter: invert(60%) sepia(20%) saturate(5000%) hue-rotate(1200deg) brightness(200%) contrast(100%);
  filter: invert(60%) sepia(20%) saturate(5000%) hue-rotate(1200deg) brightness(200%) contrast(100%);
  /*cambio el color modificando hue-rotate*/
}

@media screen and (max-width:474px) {
  .img-Arg {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .ul__Icons {
    justify-content: center;
    margin-right: 0%;
  }

  .main-menu__link {
    margin-top: 0%;
  }

  .titulo {
    font-size: 200%;
  }
}

.form-control:focus {
  border-color: rgb(2, 247, 137);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.img-Perfil {
  max-height: 180px;
  background-color: rgb(2, 247, 137);
  padding: 2px;
  border-radius: 50%;
}

.hover__boton {
  color: black;
  height: 40px;
  width: 40px;
  background-color: rgb(2, 247, 137);
}

.botonEdit__represent {
  background-color: rgb(2, 247, 137);
  color: black;
  height: 40px;
  width: 40px;
}

.botonEdit__represent:hover,
.hover__boton:hover {
  background-color: #005afc;
  font-size: 20px;
  color: white;
}

.btn-hover-sesion {
  background-color: rgb(2, 247, 137);
  color: black;
}

.btn-hover-sesion:hover {
  background-color: #005afc;
  color: white;
}