<div class="container">
  <div class="container-fluid col-sm-12 col-12 mx-auto card mb-3 bg-dark">
    <h3 class="h3-titulos pt-4 ps-4 display-6 text-left mb-2 mt-1">
      Soft Skills
      <a *ngIf="guard.canActivate()" class="btn btn-outline-light agregar__boton mb-3" role="button"
        title="Agregar Soft" data-bs-target="#SoftModalNuevo" data-bs-toggle="modal"><i
          class="fa-solid fa-square-plus"></i></a>
    </h3>
    <div *ngFor="let listas of miPortfolios">
      <div *ngFor="let miPortfolios of listas">
        <input [(ngModel)]="miPortfolios.id" #identificadors style="display: none;"><br>
        <h4 class="h3-acercaDe text-center mt-3">
          {{ miPortfolios.softTitulo}}
          <a class="btn btn-outline-light hover__boton mb-3" role="button" data-bs-target="#SoftModal"
            data-bs-toggle="modal" *ngIf="guard.canActivate()"
            (click)="editar(identificadors.value, miPortfolios.softTitulo, miPortfolios.softDescripcion, miPortfolios.icono)"
            title="Editar Tarjeta"><i class="fa-solid fa-pencil"></i></a>
        </h4>
        <div class="icons">
          <i [class]="miPortfolios.icono"></i>
        </div>

        <div class="container d-flex flex-column">
          <p class="row-2 text-white text-parrafos">
            {{miPortfolios.softDescripcion}}
            <br />
          </p>
        </div>
      </div>
    </div>
    <!-- fin de SOFT Skills -->
    <div class="modal fade" id="SoftModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Editar Soft Skills
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <p class="form-control">
                Soft Skill<input class="form-control" type="text" [(ngModel)]="editarSoft.softTitulo">

                Icono<input class="form-control" type="text" [(ngModel)]="editarSoft.icono">

                Describe tu Skill<textarea class="form-control" rows="4"
                  [(ngModel)]="editarSoft.softDescripcion"></textarea>
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success fa-solid fa-floppy-disk" (click)="editarS()"
              title="Guardar Cambios">
            </button>
            <button type="button" class="btn btn-danger fa-solid fa-trash-can" title="Borrar Tarjeta"
              (click)="borrarS()">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SoftModalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Editar Datos Personales
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <p class="form-control">
            Soft Skill<input class="form-control" type="text" [(ngModel)]="nuevoSoft.softTitulo" />Icono<input
              class="form-control" type="text" [(ngModel)]="nuevoSoft.icono" />Descripcion<textarea class="form-control"
              rows="4" [(ngModel)]="nuevoSoft.softDescripcion"></textarea>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fa-solid fa-floppy-disk" title="Guardar" (click)="agregarS()">
        </button>
      </div>
    </div>
  </div>
</div>