
   <div class="container-fluid">
     <article class="container-fluid col-sm-12 col-12 mx-auto card mb-3 bg-dark">
       <h3 class="h3-titulos pt-4 ps-4 display-6 text-left">Acerca de mi</h3>

       <div class="text-center" *ngIf="SGguard.canActivate()"> 
         <a class=" btn btn-outline-light  hover__boton"  role="button" data-bs-target="#acercaDeModal" data-bs-toggle="modal"  (click)="editar()"><i class="fa-solid fa-pencil" ></i></a>      
        </div>

       <div class="container d-flex flex-column" >
          <p class="row-2 text-white text-parrafos">{{miPortfolio.sobremi}}
          </p>

          <h4 class="h3-acercaDe text-center mt-3" *ngIf="miPortfolio.fechaNacimiento!=null">
            Datos Personales</h4>

            
            <p class="row-2 text-white text-parrafos" *ngIf="miPortfolio.fechaNacimiento!=null">Teléfono: +54 02984-788433
            </p>
            <p class="row-2 text-white text-parrafos" *ngIf="miPortfolio.fechaNacimiento!=null" >Residencia: General Roca, provincia de Rio Negro, Argentina</p>
            <p class="row-2 text-white text-parrafos" *ngIf="miPortfolio.fechaNacimiento!=null" >DNI: 35.059.357
            </p> 
            <p class="row-2 text-white text-parrafos" *ngIf="miPortfolio.fechaNacimiento!=null" >Fecha de Nacimiento:  {{miPortfolio.fechaNacimiento}}
            </p> 
            <p class="row-2 text-white text-parrafos" *ngIf="miPortfolio.fechaNacimiento!=null" >Estado Civil: Soltero
            </p> 
            <p class="row-2 text-white text-parrafos" *ngIf="miPortfolio.fechaNacimiento!=null" >Nacionalidad: Argentino
            </p> 

            
            <a class="h3-acercaDe text-center " href="https://drive.google.com/file/d/1nT0rlYgdC63L4p1OzZnxBy6F3qIGiLX3/view?usp=sharing">Ver Currículum Vitae</a>
                  <!-- aca agregar mas datos. -->
        </div>
    
      </article>
  </div>
  <div  class="modal fade" id="acercaDeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Datos Personales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
          <p class="form-control" >Escribe tus nombres <input class="form-control" type="text" [(ngModel)]="editarAcerca.nombres" ></p>
          <p class="form-control" >Escribe tus apellidos <input class="form-control" type="text" [(ngModel)]="editarAcerca.apellidos" ></p> 
          <p class="form-control" >Escribe tu ocupación <input  class="form-control" type="text" [(ngModel)]="editarAcerca.ocupacion" ></p> 
          <p class="form-control" >Escribe sobre tí <textarea class="form-control" rows="8" [(ngModel)]="editarAcerca.sobremi" ></textarea></p>  
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="editarDatos()">Enviar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarDatos()">Borrar</button>
        </div>
      </div>
    </div>
  </div>

