/* global styles */
.body {
  background-color: #343a40;
  background-size: 100% 100%;
}

.h3-acercaDe {
  color: rgb(2, 247, 137);
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}
.h3-titulos {
  color: rgb(2, 247, 137);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.text-parrafos {
  font-size: 25px;
}
@media screen and (max-width: 600px) {
  .text-parrafos {
    font-size: medium;
  }
}
@media screen and (max-width: 800px) {
  .h3-acercaDe {
    font-size: 110%;
  }
}

@media screen and (max-width: 1100px) {
  .h3-acercaDe {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .h3-titulos {
    text-align: center;
    margin-left: -3% !important;
  }
}
